@{
  
}

<br />
<br />
<br />
<div class="container">
    <br />
    <br />
    <div class="jumbotron">
        <div>
            <h1>O que posso fazer no Educacesso?</h1>
           
        </div>
        <section id="indexCorpo">



            <div class="backImagem">
                <img class="fundoImagem" src="~/Images/IdeiaSchool.jpg" />
                <h1 class="indexTitulo">Crie seus cursos</h1>
                <p class="imagemP">No Educacesso você pode criar seus próprios cursos e compartilhar com quem quiser. Com a nossa ferramenta fica fácil ter seus cursos online. <a id="linkImagem" href="#"> Venha conferir!</a></p>
            </div>
            <div class="backImagem2">
                <h1 class="indexTitulo">Aprenda</h1>
                <p class="imagemP">Aprenda fazendo cursos sobre qualquer tema disponível no Educacesso e tenha acesso a todos os cursos feitos por outros usuários. Faça exercícios! Cresça no ranking! E tudo isso grátis!</p>
                <img class="fundoImagem" src="~/Images/conhecimento.jpg" />

            </div>

        </section>
    </div>


</div>

