@model List<Educacesso.Domain.Entities.UserIdentity>

    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<br />
<h2>Seguindo</h2>
<div class="list-group">
    <a href="Index" class="list-group-item ">
        Perfil
    </a>
    <a href="" class="list-group-item">
        Mensagens <span class="badge">14</span>
    </a>
    <a href="~/Perfil/Seguindo" class="list-group-item active">
        Seguindo
    </a>
    <a href="~/Perfil/BuscarUsuarios" class="list-group-item">
        Buscar Usuarios
    </a>
</div>


@foreach (var item in Model)
{

    <div class="listaSeguir">
       
        <span class="seguidoresNome">
            @Html.DisplayFor(modelItem => item.UserName) </span>
            <span class="qtdSeguidores">Seguidores</span><span class="badge qtdSeguidores novaCor">@Html.DisplayFor(model => item.QtdSeguidores) </span>

            @Html.ActionLink("Ver cursos", "Index", "ListaCursos", new { id = item.Id }, new { @class = "adicionarSeguir verCanal" })

</div>
}
