@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);


div#tituloCorpo {
    position: relative;
    top: 10px;
    left: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 950px;
    height: 55px;
    
    background-color: #ffac33;
}

h1#h1Corpo {
    top: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 22pt;
    font-weight: bolder;
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 55px;
}

section#indexCorpo {
    width: auto;
    height: auto;
    margin-bottom: 45px;
}

div.backImagem {
    width: 600px;
    position: relative;
    background-color: #e0dcdc;
    background-color: #888888;
    height: 250px;
    left: 50px;
    margin-top: 40px;
}

div.backImagem2 {
    width: 600px;
    position: relative;
    left: 50px;
    height: 251px;
    margin-top: 40px;
    background-color: #9c856b;
}

a#linkImagem {
    display: inline-block;
    font-weight: bolder;
    margin-top: 10px;
    color: rgba(255,165,20,1);
}

    a#linkImagem:hover {
        color: #e9bc5f;
    }

h1.indexTitulo {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 70px;
    color: #ffffff;
    font-family: 'Ubuntu Condensed';
    font-size: 22pt;
}

p.imagemP {
    text-indent: 40pt;
    position: absolute;
    text-align: justify;
    z-index: 3;
    top: 65px;
    left: 40px;
    color: #ffffff;
    width: 470px;
    font-size: 18pt;
    font-family: 'Ubuntu Condensed';
   
   
}

img.fundoImagem {
    position: relative;
    left: 600px;
}